/*******************************
          WebFonts
*******************************/
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratultra_light';
  src: url("../fonts/montserrat-ultralight-webfont.woff2") format("woff2"), url("../fonts/montserrat-ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'olympic_brandingregular';
  src: url("../fonts/olympic_branding-webfont.woff2") format("woff2"), url("../fonts/olympic_branding-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*******************************
          Variables
*******************************/
/* Fonts */
/* Colors */
/*******************************
           Mixins
*******************************/
/*******************************
        Responsive Tweaks
*******************************/
.rwd-break {
  display: block; }
  @media only screen and (max-width: 767px) {
    .rwd-break {
      display: none; } }

/*******************************
            Globals
*******************************/
html {
  font-size: 16px; }

body {
  font-family: "montserratlight", sans-serif;
  background-color: #000000;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 60px; }
  @media only screen and (max-width: 767px) {
    body {
      padding-top: 16vw; } }

h1,
h2,
h3,
h4,
h5 {
  font-family: "montserratlight", sans-serif;
  line-height: 1.2857em;
  margin: calc(2rem -  0.14285em ) 0em 1rem;
  font-weight: normal;
  padding: 0em; }

h1 {
  font-family: "olympic_brandingregular", sans-serif;
  font-size: 5.625em;
  text-align: center;
  color: #ffffff; }

.ui.grid, .ui.stackable.grid {
  margin: 0; }

.ui.segment {
  border-radius: 0;
  margin: 0;
  padding: 0; }

/*******************************
          Fixed menu
*******************************/
.ui.menu .item {
  line-height: 0; }

.ui.menu .item.no-mobile {
  display: flex; }
  @media only screen and (max-width: 767px) {
    .ui.menu .item.no-mobile {
      display: none; } }

.ui.menu {
  font-family: "montserratlight", sans-serif;
  box-shadow: none;
  border: none;
  overflow: hidden; }

.ui.menu .item:before {
  width: 0px;
  background: none; }

.ui.inverted.menu {
  background-color: #37373a; }

.ui.inverted.menu.menu-bg--open {
  background-color: #29292b; }

.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
  color: #666666; }

.ui.menu:not(.vertical) .item {
  align-items: center; }

/* .ui.inverted.menu .item, .ui.inverted.menu .item>a:hover{background-color: #920982;} */
#fixedNav {
  z-index: 300;
  height: 60px;
  /* Pages nav */
  /* Menu button */ }
  #fixedNav a.item:hover, #fixedNav .active.item {
    background-color: #333333; }
  #fixedNav .ui.menu {
    padding-top: 0; }
  @media only screen and (max-width: 767px) {
    #fixedNav {
      height: 16vw; } }
  #fixedNav #logo img {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 120px;
    height: 60px; }
    @media only screen and (max-width: 767px) {
      #fixedNav #logo img {
        left: 1%;
        width: 32vw;
        height: auto; } }
  #fixedNav #mobileAlert {
    display: none; }
    @media only screen and (max-width: 767px) {
      #fixedNav #mobileAlert {
        display: flex;
        line-height: 1.5em;
        text-align: left;
        font-size: 2.4vw;
        background-color: #333333; } }
  #fixedNav .logo {
    opacity: 0.3;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  #fixedNav .logo--open {
    opacity: 0; }
  #fixedNav .logo--shine {
    opacity: 1; }
  #fixedNav .pages-nav {
    color: #666666;
    position: absolute;
    width: 86%;
    height: 60px;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
    transition: transform 1.2s, opacity 1.2s;
    -webkit-transition-timing-function: cubic-bezier(0.1, 1, 0.2, 1);
    transition-timing-function: cubic-bezier(0.1, 1, 0.2, 1);
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0); }
    #fixedNav .pages-nav .ui.menu .item {
      height: 60px;
      padding: 0;
      padding-top: 5px;
      font-size: 1em; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        #fixedNav .pages-nav .ui.menu .item {
          font-size: 1.7vw; } }
      @media only screen and (max-width: 767px) {
        #fixedNav .pages-nav .ui.menu .item {
          height: 16vw;
          font-size: 4vw; } }
    @media only screen and (max-width: 767px) {
      #fixedNav .pages-nav {
        height: 16vw;
        display: block;
        width: 86%; } }
  #fixedNav .pages-nav--open {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  #fixedNav .menu-button {
    position: absolute;
    z-index: 1000;
    top: 0px;
    right: 0px;
    left: auto;
    width: 60px;
    height: 60px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent; }
    @media only screen and (max-width: 767px) {
      #fixedNav .menu-button {
        width: 16vw;
        height: 16vw; } }
  #fixedNav .no-js .menu-button {
    display: none; }
  #fixedNav .menu-button::before,
  #fixedNav .menu-button::after,
  #fixedNav .menu-button span {
    background: #666666; }
  #fixedNav .menu-button:hover {
    background-color: #333333; }
  #fixedNav .menu-button:hover::before,
  #fixedNav .menu-button:hover::after,
  #fixedNav .menu-button:hover span {
    background-color: #ffffff;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
  #fixedNav .menu-button::before,
  #fixedNav .menu-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    width: 30px;
    height: 3px;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
    @media only screen and (max-width: 767px) {
      #fixedNav .menu-button::before,
      #fixedNav .menu-button::after {
        left: 4vw;
        width: 8vw; } }
  #fixedNav .menu-button span {
    position: absolute;
    left: 15px;
    overflow: hidden;
    width: 30px;
    height: 3px;
    text-indent: 200%;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s; }
    @media only screen and (max-width: 767px) {
      #fixedNav .menu-button span {
        left: 4vw;
        width: 8vw; } }
  #fixedNav .menu-button::before {
    -webkit-transform: translate3d(0, -12px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -12px, 0) scale3d(1, 1, 1); }
    @media only screen and (max-width: 767px) {
      #fixedNav .menu-button::before {
        -webkit-transform: translate3d(0, -3vw, 0) scale3d(1, 1, 1);
        transform: translate3d(0, -3vw, 0) scale3d(1, 1, 1); } }
  #fixedNav .menu-button::after {
    -webkit-transform: translate3d(0, 12px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 12px, 0) scale3d(1, 1, 1); }
    @media only screen and (max-width: 767px) {
      #fixedNav .menu-button::after {
        -webkit-transform: translate3d(0, 3vw, 0) scale3d(1, 1, 1);
        transform: translate3d(0, 3vw, 0) scale3d(1, 1, 1); } }
  #fixedNav .menu-button--open span {
    opacity: 0; }
  #fixedNav .menu-button--open::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: #666666; }
  #fixedNav .menu-button--open::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    background-color: #666666; }
  #fixedNav .menu-button--open span {
    background: transparent; }

/*******************************
          Sections
*******************************/
/* ALL SECTIONS */
/* PHOTO GALLERY */
#photo-gallery {
  /* Desktop */
  /* Mobile */ }
  #photo-gallery .photo-gallery.desktop.wrapper {
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    -ms-flex: 0 0 auto;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    background-color: #37373a; }
    @media only screen and (max-width: 767px) {
      #photo-gallery .photo-gallery.desktop.wrapper {
        display: none; } }
    #photo-gallery .photo-gallery.desktop.wrapper .item-wrapper {
      position: relative;
      z-index: 1;
      background-color: #372922;
      width: 25%;
      height: 25%; }
      #photo-gallery .photo-gallery.desktop.wrapper .item-wrapper .item-image {
        position: relative;
        z-index: 10;
        background-image: url("../images/photos/desktop/photo1.jpg");
        background-size: cover;
        background-position: 50% 50%;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
        cursor: pointer;
        width: 100%;
        height: 100%;
        transform-origin: 50% 50%;
        transition: transform 0.1s ease-out, box-shadow 0s;
        transform: perspective(20em) rotateY(0deg) rotateX(0deg); }
    #photo-gallery .photo-gallery.desktop.wrapper .item-wrapper:hover {
      z-index: 10; }
    #photo-gallery .photo-gallery.desktop.wrapper .item-wrapper.back:hover {
      z-index: 1; }
    #photo-gallery .photo-gallery.desktop.wrapper .item-wrapper.back .item-image.small:hover {
      transform: scale(1);
      box-shadow: none; }
    #photo-gallery .photo-gallery.desktop.wrapper .item-wrapper:hover .item-image.small {
      transform: scale(1.07);
      box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75); }
    #photo-gallery .photo-gallery.desktop.wrapper .item-wrapper.zoom {
      z-index: 10; }
    #photo-gallery .photo-gallery.desktop.wrapper .item-large {
      z-index: 200;
      width: 100%;
      height: 100%;
      margin: auto;
      position: absolute;
      background-color: #37373a;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transform-origin: 50% 50%;
      transform: perspective(250px) rotateY(0deg) rotateX(0deg);
      background-image: url("../images/photos/desktop/photo1.jpg");
      background-size: cover;
      background-position: 50% 50%;
      box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
      cursor: pointer; }
      #photo-gallery .photo-gallery.desktop.wrapper .item-large .legende {
        pointer-events: none;
        z-index: 200;
        opacity: 0;
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        width: 40%;
        height: auto;
        margin: auto;
        transition: opacity 0.1s ease-out;
        text-align: center; }
        #photo-gallery .photo-gallery.desktop.wrapper .item-large .legende h1 {
          margin: 0;
          font-size: 6vw; }
        #photo-gallery .photo-gallery.desktop.wrapper .item-large .legende h2 {
          margin: 0;
          font-family: 'montserratlight';
          font-size: 1.4vw; }
      @media only screen and (max-width: 767px) {
        #photo-gallery .photo-gallery.desktop.wrapper .item-large {
          display: none; } }
  #photo-gallery .wrapperPosition1 {
    top: -75%;
    left: -75%;
    bottom: 0;
    right: 0; }
  #photo-gallery .wrapperPosition2 {
    top: -75%;
    left: -25%;
    bottom: 0;
    right: 0; }
  #photo-gallery .wrapperPosition3 {
    top: -75%;
    left: 0;
    bottom: 0;
    right: -25%; }
  #photo-gallery .wrapperPosition4 {
    top: -75%;
    left: 0;
    bottom: 0;
    right: -75%; }
  #photo-gallery .wrapperPosition5 {
    top: -25%;
    left: -75%;
    bottom: 0;
    right: 0; }
  #photo-gallery .wrapperPosition6 {
    top: -25%;
    left: -25%;
    bottom: 0;
    right: 0; }
  #photo-gallery .wrapperPosition7 {
    top: -25%;
    left: 0;
    bottom: 0;
    right: -25%; }
  #photo-gallery .wrapperPosition8 {
    top: -25%;
    left: 0;
    bottom: 0;
    right: -75%; }
  #photo-gallery .wrapperPosition9 {
    top: 0;
    left: -75%;
    bottom: -25%;
    right: 0; }
  #photo-gallery .wrapperPosition10 {
    top: 0;
    left: -25%;
    bottom: -25%;
    right: 0; }
  #photo-gallery .wrapperPosition11 {
    top: 0;
    left: 0;
    bottom: -25%;
    right: -25%; }
  #photo-gallery .wrapperPosition12 {
    top: 0;
    left: 0;
    bottom: -25%;
    right: -75%; }
  #photo-gallery .wrapperPosition13 {
    top: 0;
    left: -75%;
    bottom: -75%;
    right: 0; }
  #photo-gallery .wrapperPosition14 {
    top: 0;
    left: -25%;
    bottom: -75%;
    right: 0; }
  #photo-gallery .wrapperPosition15 {
    top: 0;
    left: 0;
    bottom: -75%;
    right: -25%; }
  #photo-gallery .wrapperPosition16 {
    top: 0;
    left: 0;
    bottom: -75%;
    right: -75%; }
  #photo-gallery .photo-gallery.mobile.wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    width: 100%;
    height: 200%;
    background-color: #938294; }
    @media only screen and (min-width: 768px) {
      #photo-gallery .photo-gallery.mobile.wrapper {
        display: none; } }
    #photo-gallery .photo-gallery.mobile.wrapper .item-wrapper {
      position: relative;
      z-index: 1;
      background-color: #372922;
      width: 33.333%;
      height: 33.333%; }
      #photo-gallery .photo-gallery.mobile.wrapper .item-wrapper .item-image {
        position: relative;
        z-index: 10;
        background-image: url("../images/photos/mobile/photo1.jpg");
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: 100%;
        transform-origin: 50% 50%; }
    #photo-gallery .photo-gallery.mobile.wrapper .item-large {
      z-index: 200;
      width: 100%;
      height: 100%;
      margin: auto;
      position: absolute;
      background-color: #928392;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transform-origin: 50% 50%;
      background-image: url("../images/photos/mobile/photo1.jpg");
      background-size: cover;
      background-position: 50% 50%;
      box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75); }
      #photo-gallery .photo-gallery.mobile.wrapper .item-large .legende {
        pointer-events: none;
        z-index: 200;
        opacity: 0;
        position: absolute;
        bottom: 7%;
        left: 0;
        right: 0;
        width: 90%;
        height: auto;
        margin: auto;
        text-align: center; }
        #photo-gallery .photo-gallery.mobile.wrapper .item-large .legende h1 {
          margin: 0;
          font-size: 17vw;
          line-height: 1em; }
        #photo-gallery .photo-gallery.mobile.wrapper .item-large .legende h2 {
          margin: 0;
          font-family: 'montserratlight';
          font-size: 5vw; }
      @media only screen and (min-width: 768px) {
        #photo-gallery .photo-gallery.mobile.wrapper .item-large {
          display: none; } }

/*******************************
          Projects
*******************************/
.project {
  position: relative;
  background-color: #37373a;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .project img {
    display: block; }
  .project img.feature_desktop, .project img.feature_full, .project img.feature_touch_left {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 767px) {
      .project img.feature_desktop, .project img.feature_full, .project img.feature_touch_left {
        display: none; } }
  .project img.feature_mobile {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28vw; }
    @media only screen and (max-width: 767px) {
      .project img.feature_mobile {
        display: none; } }
  .project img.feature_touch_right {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48vw; }
    @media only screen and (max-width: 767px) {
      .project img.feature_touch_right {
        display: none; } }
  .project img.feature_mobile_only {
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .project img.feature_mobile_only {
        display: none; } }
  .project .dark-dimmer {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: 100% 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,1e1e20+100&0+0,1+85,0.95+85 */
    background: -moz-linear-gradient(top, transparent 0%, rgba(26, 26, 27, 0.95) 85%, rgba(30, 30, 32, 0.95) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(26, 26, 27, 0.95) 85%, rgba(30, 30, 32, 0.95) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, rgba(26, 26, 27, 0.95) 85%, rgba(30, 30, 32, 0.95) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f21e1e20',GradientType=0 )"; }
  .project .legende {
    pointer-events: none;
    z-index: 200;
    position: absolute;
    bottom: 11%;
    left: 0;
    right: 0;
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .project .legende {
        bottom: 4%;
        width: 90%; } }
    .project .legende h1 {
      margin: 0;
      font-size: 6vw;
      line-height: 1em; }
      @media only screen and (max-width: 767px) {
        .project .legende h1 {
          font-size: 16vw;
          line-height: 1em; } }
    .project .legende h2 {
      margin: 0;
      color: #999999;
      font-family: 'montserratlight';
      font-size: 1.4vw; }
      .project .legende h2 span {
        display: block;
        line-height: 1.4em; }
        @media only screen and (max-width: 767px) {
          .project .legende h2 span:first-child {
            color: #ffffff; } }
      .project .legende h2 a {
        position: static;
        pointer-events: auto;
        display: inline;
        color: #ffffff; }
        @media only screen and (max-width: 767px) {
          .project .legende h2 a {
            display: none; } }
      @media only screen and (max-width: 767px) {
        .project .legende h2 {
          font-size: 4.5vw; } }
  .project a {
    display: inline-block;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute; }
  .project a.desktop-area, .project a.mobile-area, .project a.full-area, .project a.half-area-left, .project a.half-area-right {
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .project a.desktop-area, .project a.mobile-area, .project a.full-area, .project a.half-area-left, .project a.half-area-right {
        display: none; } }
  @media only screen and (min-width: 768px) {
    .project a.mobile-only-area {
      display: none; } }

.project.desktop_mobile.layout_1 a.desktop-area {
  width: 70%;
  left: 0;
  top: 0;
  bottom: 0; }
.project.desktop_mobile.layout_1 a.mobile-area {
  width: 30%;
  left: 70%;
  top: 0;
  bottom: 0; }

.project.desktop_mobile.layout_2 a.desktop-area {
  width: 70%;
  left: 30%;
  top: 0;
  bottom: 0; }
.project.desktop_mobile.layout_2 a.mobile-area {
  width: 30%;
  left: 0;
  top: 0;
  bottom: 0; }
.project.desktop_mobile.layout_2 img.feature_mobile {
  left: 0; }

.project.layout_3 a.full-area {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }

.project.layout_4 a.half-area-left {
  width: 50%;
  left: 0;
  top: 0;
  bottom: 0; }
.project.layout_4 a.half-area-right {
  width: 50%;
  left: 50%;
  top: 0;
  bottom: 0; }

.project a.mobile-only-area {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }
  @media only screen and (min-width: 768px) {
    .project a.mobile-only-area {
      display: none; } }
@media only screen and (max-width: 767px) {
  .project a.desktop-area, .project a.mobile-area, .project a.full-area, .project a.half-area-left, .project a.half-area-right {
    display: none; } }

/*******************************
          Contact form
*******************************/
section {
  overflow: auto; }
  section.contact-section {
    padding: 100px 5% 5% 5%;
    background: -moz-linear-gradient(top, transparent 0%, rgba(26, 26, 27, 0.95) 85%, rgba(30, 30, 32, 0.95) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(26, 26, 27, 0.95) 85%, rgba(30, 30, 32, 0.95) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, rgba(26, 26, 27, 0.95) 85%, rgba(30, 30, 32, 0.95) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f21e1e20',GradientType=0 )"; }
    @media only screen and (max-width: 767px) {
      section.contact-section {
        padding-top: 15%; } }
    @media only screen and (max-width: 767px) {
      section.contact-section h1 {
        font-size: 20vw; } }
  section.contact-form {
    position: relative;
    background-color: #37373a;
    margin: 0;
    overflow: hidden; }
    section.contact-form .ui.grid {
      /* background-color: #938292; */
      margin-top: 50px;
      /* max-height:200px; */ }
      @media only screen and (max-width: 767px) {
        section.contact-form .ui.grid {
          margin-top: 5%; } }
      section.contact-form .ui.grid .six.wide.column {
        /* background-color: #928303; */ }
      section.contact-form .ui.grid .ten.wide.column {
        /* background-color: #938493; */ }
      section.contact-form .ui.grid.form input[type=text], section.contact-form .ui.grid.form input[type=email], section.contact-form .ui.grid.form textarea {
        font-family: 'montserratultra_light';
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-radius: 0;
        font-size: 20px;
        /* background-color: #928302; */ }
        section.contact-form .ui.grid.form input[type=text]::-moz-selection, section.contact-form .ui.grid.form input[type=email]::-moz-selection, section.contact-form .ui.grid.form textarea::-moz-selection {
          background: #ffffff;
          color: #29292b; }
        section.contact-form .ui.grid.form input[type=text]::-webkit-selection, section.contact-form .ui.grid.form input[type=email]::-webkit-selection, section.contact-form .ui.grid.form textarea::-webkit-selection {
          background: #ffffff;
          color: #29292b; }
        section.contact-form .ui.grid.form input[type=text]::selection, section.contact-form .ui.grid.form input[type=email]::selection, section.contact-form .ui.grid.form textarea::selection {
          background: #ffffff;
          color: #29292b; }
        section.contact-form .ui.grid.form input[type=text]:hover, section.contact-form .ui.grid.form input[type=text]:not(.empty), section.contact-form .ui.grid.form input[type=email]:hover, section.contact-form .ui.grid.form input[type=email]:not(.empty), section.contact-form .ui.grid.form textarea:hover, section.contact-form .ui.grid.form textarea:not(.empty) {
          background-color: rgba(255, 255, 255, 0.05); }
        section.contact-form .ui.grid.form input[type=text]::-webkit-input-placeholder, section.contact-form .ui.grid.form input[type=email]::-webkit-input-placeholder, section.contact-form .ui.grid.form textarea::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.25); }
        section.contact-form .ui.grid.form input[type=text]:focus, section.contact-form .ui.grid.form input[type=email]:focus, section.contact-form .ui.grid.form textarea:focus {
          background-color: rgba(255, 255, 255, 0.07); }
      section.contact-form .ui.grid.form .field:nth-child(2) {
        margin-top: 58px; }
        @media only screen and (max-width: 767px) {
          section.contact-form .ui.grid.form .field:nth-child(2) {
            margin-top: 32px; } }
      section.contact-form .ui.grid.form textarea {
        display: block;
        min-height: 100px;
        resize: none;
        padding-top: 0.7em; }
        section.contact-form .ui.grid.form textarea.initial.empty {
          height: 150px; }
        section.contact-form .ui.grid.form textarea:not(.initial) {
          height: 105px; }
        section.contact-form .ui.grid.form textarea:not(.empty), section.contact-form .ui.grid.form textarea:focus {
          height: 105px; }
      section.contact-form .ui.grid.form button[type=submit] {
        position: relative;
        margin-top: 4px;
        width: 100%;
        background-color: #666666;
        color: #000000;
        border-radius: 0;
        text-align: left;
        font-size: 20px;
        font-family: 'montserratregular';
        padding: .78571429em 1em;
        display: none;
        transition: background-color 0.1s ease-out; }
        section.contact-form .ui.grid.form button[type=submit]:hover {
          background-color: #ffffff; }
        section.contact-form .ui.grid.form button[type=submit] img {
          position: absolute;
          top: 9px;
          right: 9px;
          width: 36px;
          height: 36px; }
    section.contact-form .ui.form .field {
      position: relative; }
    section.contact-form .ui.form .field .prompt.label {
      z-index: 1;
      position: absolute;
      font-family: 'montserratultra_light';
      font-size: 20px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: .8em 1em;
      font-weight: normal;
      margin: 0;
      background: #730c0d !important;
      background-repeat: no-repeat;
      border: none !important;
      color: #ffffff !important;
      border-radius: 0;
      transition: background 0s ease; }
    section.contact-form .ui.form .field .prompt.label::after {
      content: '';
      opacity: 0.5;
      width: 29px;
      height: 29px;
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      background: url("../images/picto_alert.svg") no-repeat; }
    section.contact-form .ui.label.transition {
      animation-duration: 0s;
      animation-iteration-count: 0;
      animation-fill-mode: none; }
    section.contact-form .ui.pointing.label:before, section.contact-form .ui[class*="pointing above"].label:before {
      display: none; }
    section.contact-form .ui.form .field.error input[type=email],
    section.contact-form .ui.form .field.error input[type=text],
    section.contact-form .ui.form .field.error textarea {
      color: #fff; }
  section.remaining {
    color: #ffffff;
    background-color: #37373a; }
    section.remaining .reseaux-credits:nth-child(2), section.remaining .reseaux-credits:nth-child(3) {
      padding-top: 50px; }
    section.remaining .reseaux-credits .ui.stackable.grid > .column:not(.row) {
      padding: 0 !important; }
    section.remaining .reseaux-credits .ui.grid > .column:not(.row) {
      padding-left: 0 !important;
      padding-right: 0 !important; }
    section.remaining .reseaux-credits .ui.two.column.grid .column {
      text-align: center; }
      @media only screen and (max-width: 767px) {
        section.remaining .reseaux-credits .ui.two.column.grid .column:nth-child(1) {
          margin-bottom: 1vw; } }
      section.remaining .reseaux-credits .ui.two.column.grid .column span.role {
        font-family: 'montserratlight';
        color: #666666;
        font-size: 20px; }
      section.remaining .reseaux-credits .ui.two.column.grid .column a {
        margin: auto;
        text-indent: -9000px;
        display: block;
        width: 160px;
        height: 61px;
        /* transition:background 0.1s ease-out; */ }
        @media only screen and (max-width: 767px) {
          section.remaining .reseaux-credits .ui.two.column.grid .column a {
            width: 33vw; } }
        section.remaining .reseaux-credits .ui.two.column.grid .column a.linkedin {
          background: url("../images/reseau_linkedin_off.svg") no-repeat;
          transition: background 0.1s ease-in; }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.linkedin:hover {
            transition: none;
            background: url("../images/reseau_linkedin_on.svg") no-repeat; }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.linkedin:after {
            background: url("../images/reseau_linkedin_on.svg");
            display: none; }
        section.remaining .reseaux-credits .ui.two.column.grid .column a.viadeo {
          background: url("../images/reseau_viadeo_off.svg") no-repeat;
          transition: background 0.1s ease-in; }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.viadeo:hover {
            transition: none;
            background: url("../images/reseau_viadeo_on.svg") no-repeat; }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.viadeo:after {
            background: url("../images/reseau_viadeo_on.svg");
            display: none; }
        section.remaining .reseaux-credits .ui.two.column.grid .column a.twitter {
          background: url("../images/reseau_twitter_off.svg") no-repeat;
          transition: background 0.1s ease-in; }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.twitter:hover {
            transition: none;
            background: url("../images/reseau_twitter_on.svg") no-repeat; }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.twitter:after {
            background: url("../images/reseau_twitter_on.svg");
            display: none; }
        section.remaining .reseaux-credits .ui.two.column.grid .column a.instagram {
          background: url("../images/reseau_instagram_off.svg") no-repeat;
          transition: background 0.1s ease-in; }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.instagram:hover {
            transition: none;
            background: url("../images/reseau_instagram_on.svg") no-repeat; }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.instagram:after {
            background: url("../images/reseau_instagram_on.svg");
            display: none; }
        section.remaining .reseaux-credits .ui.two.column.grid .column a.art {
          background: url("../images/logo_hugo.svg") no-repeat;
          transition: opacity 0.1s ease-in;
          opacity: 0.5;
          width: 150px;
          height: 75px;
          text-align: center; }
          @media only screen and (max-width: 767px) {
            section.remaining .reseaux-credits .ui.two.column.grid .column a.art {
              width: 37vw;
              height: 22vw; } }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.art:hover {
            opacity: 1; }
        section.remaining .reseaux-credits .ui.two.column.grid .column a.dev {
          background: url("../images/logo_stephane_off.svg") no-repeat;
          transition: background 0.1s ease-in;
          color: #666666;
          width: 150px;
          height: 75px;
          text-align: center; }
          @media only screen and (max-width: 767px) {
            section.remaining .reseaux-credits .ui.two.column.grid .column a.dev {
              width: 37vw;
              height: 22vw; } }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.dev:hover {
            transition: none;
            background: url("../images/logo_stephane_on.svg") no-repeat; }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.dev:after {
            background: url("../images/logo_stephane_on.svg");
            display: none; }
        section.remaining .reseaux-credits .ui.two.column.grid .column a.hosting {
          background: url("../images/logo_gandi_off.svg") no-repeat;
          transition: background 0.1s ease-in;
          width: 140px;
          height: 70px; }
          @media only screen and (max-width: 767px) {
            section.remaining .reseaux-credits .ui.two.column.grid .column a.hosting {
              width: 34vw;
              height: 22vw; } }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.hosting:hover {
            background: url("../images/logo_gandi_on.svg") no-repeat;
            transition: none; }
            @media only screen and (max-width: 767px) {
              section.remaining .reseaux-credits .ui.two.column.grid .column a.hosting:hover {
                width: 34vw;
                height: 22vw; } }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.hosting:after {
            background: url("../images/logo_gandi_on.svg");
            display: none; }
        section.remaining .reseaux-credits .ui.two.column.grid .column a.wordpress {
          background: url("../images/logo_wordpress_off.svg") no-repeat;
          transition: background 0.1s ease-in;
          width: 140px;
          height: 70px; }
          @media only screen and (max-width: 767px) {
            section.remaining .reseaux-credits .ui.two.column.grid .column a.wordpress {
              width: 36vw;
              height: 22vw; } }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.wordpress:hover {
            transition: none;
            background: url("../images/logo_wordpress_on.svg") no-repeat; }
          section.remaining .reseaux-credits .ui.two.column.grid .column a.wordpress:after {
            background: url("../images/logo_wordpress_on.svg");
            display: none; }
    section.remaining .reseaux-credits.legal p {
      font-family: 'montserratlight';
      color: #666666;
      text-align: center;
      font-size: 0.9em; }
      section.remaining .reseaux-credits.legal p span {
        display: block;
        margin-bottom: 10px;
        font-size: 20px; }
    section.remaining form input::-webkit-validation-bubble-message,
    section.remaining form select::-webkit-validation-bubble-message,
    section.remaining form textarea::-webkit-validation-bubble-message {
      display: none; }

/************************
          Modals
*************************/
.modals.dimmer {
  /*   *, *:before, *:after {
    box-sizing: content-box;
  } */ }
  .modals.dimmer .ui.long.fullscreen.modal {
    pointer-events: none; }
    .modals.dimmer .ui.long.fullscreen.modal.scrolling {
      margin: 2rem auto !important; }
    .modals.dimmer .ui.long.fullscreen.modal .image.content {
      -ms-flex-direction: column;
      position: relative;
      padding: 4.5rem;
      flex-direction: column; }
      .modals.dimmer .ui.long.fullscreen.modal .image.content .close {
        pointer-events: auto;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        opacity: 0.8;
        padding: 0;
        transition: opacity 0.1s ease; }
        @media only screen and (max-width: 767px) {
          .modals.dimmer .ui.long.fullscreen.modal .image.content .close {
            display: none; } }
        .modals.dimmer .ui.long.fullscreen.modal .image.content .close img {
          width: 34px;
          height: 34px; }
        .modals.dimmer .ui.long.fullscreen.modal .image.content .close:hover {
          opacity: 1; }
      .modals.dimmer .ui.long.fullscreen.modal .image.content .image {
        display: block;
        width: 100%;
        max-width: 1300px;
        height: 100%;
        margin: auto;
        margin-bottom: 5vw; }
      .modals.dimmer .ui.long.fullscreen.modal .image.content .module .twoside {
        pointer-events: auto;
        display: inline-block;
        width: 100%;
        max-width: 866px;
        background: #fff;
        text-align: center;
        box-shadow: 0 2px 2px rgba(34, 35, 48, 0.75);
        border-radius: 2px; }
        .modals.dimmer .ui.long.fullscreen.modal .image.content .module .twoside .twoside__canvas {
          display: block;
          max-width: 100%;
          height: auto;
          cursor: ew-resize;
          -webkit-tap-highlight-color: transparent; }
  .modals.dimmer .ui.long.fullscreen.modal.mobile .image.content img.image {
    width: 40%;
    max-width: 640px;
    /* height: 100%; */
    height: auto; }
    @media only screen and (max-width: 767px) {
      .modals.dimmer .ui.long.fullscreen.modal.mobile .image.content img.image {
        width: 90%; } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .modals.dimmer .ui.long.fullscreen.modal.touch-up {
      pointer-events: auto; } }
  .modals.dimmer .ui.long.fullscreen.modal.touch-up .image.content .module {
    max-width: 866px;
    width: 100%;
    margin: auto; }

/*# sourceMappingURL=style.css.map */
